@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&family=Pacifico&display=swap'); /* импорт шрифтов */
/*
font-family: 'Open Sans', sans-serif;
font-family: 'Pacifico', cursive;
*/

.coffee-list { /* селектор по классу */
  background-image: url("img/background.jpg"); /* фоновое изображение для элемента */
  background-size: cover; /* масштабирует фоновое изображение согласно заданным размерам */
}

.coffee-item { /* селектор по классу */
  color: white; /* цвет текста элемента */
  background-color: rgba(0, 0, 0, 0.7); /* цвет фона элемента */
  margin: 15px 0; /* величину отступа от каждого края элемента */
  border-radius: calc(100px / 2); /* радиус скругления уголков рамки */
  transition: background-color 300ms, transform 300ms;
  cursor: pointer; /* форма курсора в пределах элемента */
}

.coffee-item img { /* селектор по классу */
  height: 100px; /* высота элемента */
  background-color: white; /* цвет фона элемента */
  border-radius: 50%; /* радиус скругления уголков рамки */
}

.coffee-item span { /* селектор по классу */
  font-family: 'Pacifico', cursive; /* устанавливает семейство шрифта */
  margin-left: 40px; /* величина отступа от левого края элемента */
  font-size: 35px; /* размер шрифта элемента */
}

.coffee-item:hover { /* селектор по классу, hover - псевдоэлемент эффекта перехода между двумя состояниями элемента */
  background-color: rgba(50, 50, 50, 0.7); /* цвет фона элемента */
  transform: scale(1.04); /* трансформирует элемент, масштаб элемента по горизонтали и вертикали */
}

.coffee-oper { /* селектор по классу */
  background-color: rgb(230, 230, 230); /* цвет фона элемента */
  padding: 1rem; /* значение полей вокруг содержимого элемента */
}

.display { /* селектор по классу */
  background-color: lightgreen; /* цвет фона элемента */
  border: 2px solid darkgreen; /* позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента */
  box-sizing: border-box; /* изменения алгоритма расчета ширины и высоты элемента */
  padding: 0.5rem; /* значение полей вокруг содержимого элемента */
  font-family: 'Pacifico', cursive; /* устанавливает семейство шрифта */
}

.cup-container { /* селектор по классу */
  margin-top: 2rem; /* величина отступа от верхнего края элемента */
}

.cup { /* селектор по классу */
  width: 100%; /* ширина блочных или заменяемых элементов */
  display: none; /* определяет, как элемент должен быть показан в документе */
  opacity: 0; /* уровень прозрачности элемента веб-страницы */
}

.atm { /* селектор по классу */
  width: 100%; /* ширина блочных или заменяемых элементов */
}

.change-container { /* селектор по классу */
  min-height: 10rem; /* минимальная высота элемента */
  background: lightgrey; /* цвет фона элемента */
  border: 2px solid black; /* позволяет одновременно установить толщину, стиль и цвет границы вокруг элемента */
  border-radius: 0.5rem; /* радиус скругления уголков рамки */
  position: relative; /* способ позиционирования элемента относительно окна браузера или других объектов на веб-странице */
}